@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --purple: #deaaff;
    --green: #c7f9cc;
    --orange: #f4a261;
    --blue: #a2d2ff;
    --red: #ff477e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 30px 30px;
}

.barra__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vh;
}


nav {
    display: none;
    align-items: center;
    justify-content: space-around;
    background-color: #0B192C;
    width: 100%;
    padding: 15px 10px;
    transform: translateY(-130px);
    z-index: 999;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.2vh;
    font-weight: 600;
}


.logo__nome {
    color: #fff;
}

.logo__nome h2 {
    font-size: 2rem;
    background: linear-gradient(45deg, #464646, #4b4b4b, #777777, #acacac);
    background-size: 400% 100%;
    animation: degrade 20s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo__nome h3 {
    font-weight: 400;
    color: #ffffff;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social a {
    text-decoration: none;
}

.social i {
    font-size: 2rem;
    color: #ffffff;
    border-radius: 3px;
}

main {
    margin-top: 150px;
}

img {
    height: 210px;
    width: 210px;
}

.popular__item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.popular__item h2 {
    font-size: 2rem;
    background: linear-gradient(30deg, var(--green), var(--purple), var(--orange), var(--orange));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popular__item span {
    color: var(--orange);
    font-weight: 600;
    font-size: 2rem;
}

.item {
    border-radius: 10px;
    padding: 10px;
    margin: 30px 10px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre {
    padding: 10px;
    text-align: center;
}

.sobre h2 {
    color: var(--orange);
    margin-bottom: 10px;
}

.sobre p {
    color: #0B192C;
}

.valor {
    padding: 10px 0px;
}

.valor span {
    background-color: var(--green);
    border-radius: 3px;
    padding: 7px 2px;
    font-size: 1.9vh;
}

.valor .off {
    background-color: var(--red);
    font-size: 1.9vh;
}

/*PIZZAS*/

.pizzas span {
    font-size: 2rem;
    background: linear-gradient(30deg, var(--green), var(--purple), var(--orange), var(--orange));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 10px;
}

/*PORÇÔES*/
.porcoes span {
    font-size: 2rem;
    background: linear-gradient(30deg, var(--green), var(--purple), var(--orange), var(--orange));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 10px;
}

/* Tema claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }

    header {
        background-color: var(--purple);
    }

    .item {
        background-color: rgba(0, 0, 0, .05);
    }
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(21, 29, 28, 1);
    }

    header {
        background-color: var(--green);
    }

    .social i, .logo__nome h3 {
        color: #708090;
    }

    .valor span {
        background-color: var(--purple);
    }

    .sobre p,
    .valor span {
        color: #ffffff;
    }

    .item {
        background-color: rgba(200, 200, 200, .05);
    }

}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}